@use "../../Styles/Partials/mixins" as *;
@use "../../Styles/Partials/variables" as *;
@use "sass:color";

.form-section {
  background-color: $muted-green;
}

.form-wrapper {
  margin: 0 auto;
  padding: 1rem;
  color: $brown;
  border-radius: $card-radius;

  @include tablet {
    margin-left: 14rem;
    padding-top: 4rem;
  }

  @include desktop {
    max-width: 1100px;
  }
}

.form-steps {
  @include flex(row, center, center);
  text-align: center;
  gap: 1rem;
  padding: 2rem 0;
  margin-top: 2rem;

  @include tablet {
    margin-top: 0;
  }

  @include desktop {
    padding-bottom: 1rem;
    margin-top: 0;
    text-align: left;
    justify-content: flex-start;
    gap: 5rem;
  }
}

.form-step {
  color: $off-white;
  @include desktop {
    width: 20%;
  }
  &__item {
    font-size: 1.2rem;
  }
}

.hidden {
  display: none;
  @include desktop {
    display: flex;
    text-align: left;
  }
}

.visible {
  display: none;
  @include tablet {
    display: flex;
    text-align: left;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1.5rem auto;
  @include desktop {
    margin-top: 0;
  }

  &__btn {
    background-color: $soft-cream;
    color: $brown;
    height: 50px;
    @include tablet {
      width: 150px;
      margin: 0 auto;
    }
  }
}

.react-datepicker__input-container {
  display: flex;
}

.react-datepicker__header {
  background-color: $soft-cream !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-range,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--keyboard-selected,
.react-datepicker__day--today {
  background-color: $brown !important;
  color: $soft-cream !important;
}

.react-datepicker__close-icon {
  display: none !important;
}
