@use "../../Styles/Partials/variables" as *;
@use "../../Styles/Partials/mixins" as *;

.trip-list {
  background-color: $muted-green;
  padding-top: 6rem;
  padding-left: 1rem;
  @include tablet {
    padding-left: 15rem;
  }

  &__title {
    font-weight: 300;
    font-size: 2rem;
  }

  & > * {
    margin-bottom: 1.2rem;
  }
}

.divider-line--trip {
  border: 1px solid $soft-cream;

  margin-right: 1rem;
}

.trip-tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  gap: 1rem;
  &__item {
    background: $brown;
    padding: 0.5rem;
    color: $soft-cream;
    font-weight: 500;
  }
}

.item-list__link--transparent {
  background-color: transparent;
}

.item-list__qty--trip {
  width: 3rem;
}
