@use "./variables" as *;
@use "./fonts";
@use "./mixins" as *;

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  color: $off-white;
  height: 100%;
}

html {
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-weight: 300;
}

li {
  list-style: none;
}

p {
  font-size: 1rem;
  @include tablet {
    font-size: 1.3rem;
  }
}

ul {
  padding: 0;
}

.logo {
  width: 50px;
}

.italic {
  font-style: italic;
}

button,
label {
  font-family: inherit;
  font-weight: 500;
  font-size: 1rem;
  @include tablet {
    font-size: 1.3rem;
  }
}

button {
  padding: 0.5rem;
  border: 1px solid $soft-cream;
  background-color: none;
  cursor: pointer;
}

input,
select {
  border: 1px solid $soft-cream;
  background-color: transparent;
  color: $soft-cream;
  height: 3rem;
  width: 100%;
  padding: 0.625rem;
  font-family: "futura-pt", sans-serif;
  border-radius: $btn-radius;
  font-size: 1rem;
  @include tablet {
    font-size: 1.3rem;
  }

  &::placeholder {
    color: $soft-cream !important;
  }
}

input:focus,
select:focus {
  border-color: $brown;
  outline: none;
  color: $brown;
}
