/* Screen Breakpoints*/

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

/* Colors */
$dark-olive: #313628;
$soft-green: #cadf9e;
$off-white: #f7f7f2;
$muted-sage: #abb799;
$soft-cream: #fafff9;
$muted-charcoal: #595358;
$mustard-yellow: #d4a514;
$rust-orange: #d37257;

/*Radius*/
$btn-radius: 5px;
$card-radius: 8px;
