@use "../../Styles/Partials/mixins" as *;

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../Assets/Images/hero.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @include tablet {
    height: 600px;
    padding: 1.5rem;
  }

  &__secondary {
    max-width: 20rem;
    @include tablet {
      font-size: 1.5rem;
      max-width: 40rem;
    }
  }

  &__title {
    margin: 8rem auto;
    font-size: 2rem;
    height: 1rem;
    margin-bottom: 4rem;
    max-width: 20rem;
    @include tablet {
      font-size: 3rem;
      max-width: 40rem;
      margin-bottom: 5rem;
      height: auto;
    }
  }
}
