@use "../../Styles/Partials/variables" as *;
@use "../../Styles/Partials/mixins" as *;
@use "sass:color";

.swiper-button-next,
.swiper-button-prev {
  color: $brown !important;
}

.swiper-pagination-bullet {
  background-color: grey !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: $brown !important;
}

.swiper {
  max-width: 1200px !important;
  padding: 0 10px;
  margin-left: 0;
}

.swiper-scrollbar {
  height: 2px !important;
}

.swiper-pagination-bullet {
  border-radius: 0 !important;
}

.swiper-button-prev::after {
  margin-right: 25px !important;
}

.swiper-button-next::after {
  margin-right: -25px !important;
}

.user-lists {
  display: flex;
  flex-direction: column;
  &__title {
    margin-top: 2rem;
    margin-left: 1rem;
    font-weight: 400;
    font-size: 1.5rem;

    @include tablet {
      margin-left: 2rem;
    }
  }

  &__main-content {
    flex: 1;
    padding: 1rem;
    color: $brown;

    &--dashboard {
      @include tablet {
        padding: 2rem !important;
      }
    }
  }
}

.user-list-cards {
  display: flex;
  flex-wrap: wrap;
}

.trip-card {
  background: url("../../Assets/Images/suitcase.jpg");
  background-position: center;
  background-size: cover;
  padding: 1.25rem;
  color: $brown;
  min-height: 400px;
  margin: 1.1rem;
  margin-bottom: 2.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  @include flex(column, space-between, flex-start);
  border: 1px solid $brown;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }

  &__top {
    border: 1px solid $brown;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 1rem;
    min-height: 130px;
    background-color: $soft-cream;
  }

  &__tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    border: 1px solid $brown;
    padding: 1rem;
    width: 100%;
    background-color: $soft-cream;
  }

  &__tag-list-item {
    background: $brown;
    padding: 0.5rem;
    color: $soft-cream;
    font-weight: 500;
  }

  &__title {
    color: $brown;
    &:hover {
      text-decoration: underline;
    }
  }

  &__title-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__destination {
    font-size: 0.9rem;
    color: $brown;
    margin-bottom: 8px;
  }
}
