@use "../../Styles/Partials/variables" as *;
@use "../../Styles/Partials/mixins" as *;

.form__btn--next {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  color: $brown;
  border: 1px solid $brown;
  background-color: $muted-green;
  &:hover {
    background-color: $brown;
    color: $soft-cream;
  }
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin-top: 1.2rem;
  @include desktop {
    width: 50%;
  }
}

.input-wrapper label {
  margin-bottom: -0.5rem;
}

.form__input::placeholder {
  font-weight: 200;
}

.form-select--disabled {
  color: gray;
}

.invalid {
  outline: none;
  border-color: rgb(221, 93, 47);
}
