@use "../../Styles/Partials/variables" as *;
@use "../../Styles/Partials/mixins" as *;
@use "sass:color";

.dashboard {
  background-color: $muted-green;
  @include tablet {
    margin-left: 13rem;
  }

  &__greeting {
    padding: 5rem 1rem 1rem 1rem;
    font-size: 1.5rem;
    @include tablet {
      padding-left: 2rem;
    }
  }
}

.divider-line {
  border: 1px solid $soft-cream;
  margin: 0 1rem 1.5rem 2rem;
}
