@use "../../Styles/Partials/variables" as *;
@use "../../Styles/Partials/mixins" as *;

.progress-bar {
  height: 5px;
  position: relative;
  width: 100%;
  margin: 0 auto;
  background-color: $muted-green;

  &__filler {
    height: 3px;
    background-color: $muted-green;
    border-radius: inherit;
    transition: width 1s ease-in-out;
    position: absolute;
    bottom: 4px;
  }
}
